.header{
    height: 150px;
    background-color: #5e889e;

    h1{
    font-size: 50px;
    font-weight: bolder;
    color: brown;
    font-style: normal;
    position: absolute;
    top: 5%;
    left: 6%;
    }
    .about{
    color: white;
    font-size: 29px;
    font-weight: bold;
    left: 84%;
    position: absolute;
    top: 8%
    }
    .home{
        color: white;
        font-size: 29px;
        font-weight: bold;
        left: 76%;
        position: absolute;
        top: 8%
        }
        .aboutUsers{
            color: white;
            font-size: 29px;
            font-weight: bold;
            left: 92%;
            position: absolute;
            top: 8%
            }
}