<header>
        <div class="headerAbout">
            <h2 class="textAbout">About users</h2>
        </div>
    </header>

<div class="users">
<div class="user1" id="1">
        <div class="fotoUser1"></div>
        <p class="nameUser1">Olivia</p>

<!-- Button trigger modal -->
<button [routerLink]="['/users/infouser1']" routerLinkActive="router-link-active"
type="button" 
class="btn btn-sm moreUser1" 
data-toggle="modal" 
data-target="#exampleModal1">
More info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <div class="modalFotoUser1"></div><p class="modalNameUser1">Olivia Freeman</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <p><b>email :</b><i> olivia.freeman@example.com</i></p>
 <p><b>location :</b><i> 1748 Lovers Ln</i></p>       
 <p><b>phone :</b><i> (854)-467-1501</i></p>       

</div>

</div>
</div>
</div>

    </div>
    <div class="user2" id="2">
            <div class="fotoUser2"></div>
            <p class="nameUser2">Judith</p>
            
            <!-- Button trigger modal -->
<button [routerLink]="['/users/infouser2']" routerLinkActive="router-link-active"
type="button" 
class="btn btn-sm moreUser2" 
data-toggle="modal" 
data-target="#exampleModal2">
More info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
    <div class="modalFotoUser2"></div><p class="modalNameUser2">Judith Jacobs</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
        <p><b>email :</b><i> judith.jacobs@example.com</i></p>
        <p><b>location :</b><i> 5097 E Sandy Lake Rd</i></p>       
        <p><b>phone :</b><i> (214)-394-0799</i></p>   
</div>

</div>
</div>
</div>
    </div>
    <div class="user3" id="3">
            <div class="fotoUser3"></div>
            <p class="nameUser3">Nicholas</p>

            <!-- Button trigger modal -->
<button [routerLink]="['/users/infouser3']" routerLinkActive="router-link-active"
type="button" 
class="btn btn-sm moreUser3" 
data-toggle="modal" 
data-target="#exampleModal3">
More info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<div class="modalFotoUser3"></div><p class="modalNameUser3">Nicholas Phillips</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
        <p><b>email :</b><i> nicholas.phillips@example.com</i></p>
        <p><b>location :</b><i> 4968 Miller Ave</i></p>       
        <p><b>phone :</b><i> (901)-583-3078</i></p>   
</div>

</div>
</div>
</div>
    </div>
    <div class="user4" id="4">
            <div class="fotoUser4"></div>
            <p class="nameUser4">Carlos</p>

            <!-- Button trigger modal -->
<button [routerLink]="['/users/infouser4']" routerLinkActive="router-link-active"
type="button" 
class="btn btn-sm moreUser4" 
data-toggle="modal" 
data-target="#exampleModal4">
More info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<div class="modalFotoUser4"></div><p class="modalNameUser4">Carlos Cole</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
        <p><b>email :</b><i> carlos.cole@example.com</i></p>
        <p><b>location :</b><i> 9157 Walnut Hill Ln</i></p>       
        <p><b>phone :</b><i> (571)-123-3045</i></p>   
</div>

</div>
</div>
</div>
    </div>
</div>
<router-outlet></router-outlet>