<div class="containerAbout">
        <header>
            <div class="headerAbout">
                <h2 class="textAbout">About project</h2>
            </div>
        </header>
        <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                 
                  
                </div>
              </nav>
              <div class="tab-content" style="margin: 10px;" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odit dolores veniam harum, vero, repudiandae qui iusto exercitationem quis ducimus necessitatibus dolor aspernatur dolore at repellat explicabo nisi? Est qui enim iusto iste facere eos rem architecto quos nam eum voluptatibus nobis ea itaque aspernatur ducimus culpa natus a delectus rerum minima ipsam, non harum consequatur nulla! Voluptatibus temporibus blanditiis in aperiam ut maxime aliquid culpa, porro, necessitatibus repudiandae eveniet corporis laborum! Delectus libero, facere animi, architecto odio mollitia iure accusamus dolorem voluptates, assumenda nam dolores! Temporibus laborum veniam esse aperiam veritatis quos rerum natus. Similique, perferendis. Nobis, quibusdam assumenda.</div>
                <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <router-outlet></router-outlet>
                       
                </div>
              </div>
    </div>
    