<div class="containerBalance">
        <div class="sum">
            <p>Balance</p>
            <div class="balance"></div>
        </div>
        <div class="boxIncome">
            <p><b>Income</b></p>
            <div class="income"><span>+ :</span></div>
        </div>
        <div class="boxExpense">
            <p><b>Expense</b></p>
            <div class="expense"><span>- :</span></div>
        </div>
        <button type="button" class="btn addList" data-toggle="modal" data-target="#exampleModalCenter"></button>
        <app-modal-add-list></app-modal-add-list>
        <img src="https://www.iconninja.com/files/21/383/675/commerce-method-payment-dollar-ecommerce-wallet-money-icon.svg" alt="" class="imgWallet">
    </div>
    <app-list></app-list>