<app-header></app-header>
<app-balance></app-balance>
<app-list></app-list>
<!-- <header class="header">
<h1>MY WALLET</h1>

<a href="" class="about">About</a>
</header> -->


<!----- component Balance ------>
<!-- <div class="containerBalance">
<div class="sum">
    <p>Balance</p>
    <div class="balance"></div>
</div>
<div class="boxIncome">
    <p>Income</p>
    <div class="income"><span>+ :</span></div>
</div>
<div class="boxExpense">
    <p>Expense</p>
    <div class="expense"><span>- :</span></div>
</div>
<button type="button" class="btn addList" data-toggle="modal" data-target="#exampleModalCenter"></button> -->

<!----- component modal add list ------>

<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="status">
                <p class="statusIncome"><input type="radio" name="option" value="income"> Income</p><Br> 
                <p class="statusExpense"><input type="radio" name="option" value="expense" checked> Expense</p>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
                
                    <div class="form-group">
                      <label for="exampleInputDate">Date</label>
                      <input type="text"
                             placeholder="date"
                             class="form-control"
                             bsDatepicker>
                    </div>
                 
                    <div class="form-group">
                      <label for="exampleInputTitle">Title</label>
                      <input type="text" class="form-control" placeholder="title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputSum">Sum</label>
                      <input type="text" class="form-control" placeholder="sum $">
                    </div>
                  </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">add</button>
            </div>
          </div>
        </div>
      </div> -->
<!-- <img src="https://www.iconninja.com/files/21/383/675/commerce-method-payment-dollar-ecommerce-wallet-money-icon.svg" alt="" class="imgWallet">
</div> -->

<!----- component List ------>
<!-- <div class="containerList">
        <div class="input-group search">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="search...">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All list</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All list</a>
                    <a class="dropdown-item" href="#">Income</a>
                    <a class="dropdown-item" href="#">Expense</a>
                </div>
              </div>
              
</div>
<div class="list">
<ul class="list-group list-group-horizontal-sm" style="width: 98%;margin: 10px;">
        <li class="list-group-item">Status</li>
        <li class="list-group-item">Title</li>
        <li class="list-group-item">$</li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
    </div>
</div> -->



<!----- component About ------>

<div class="containerAbout">
    <header>
        <div class="headerAbout">
            <h2 class="textAbout">About</h2>
        </div>
    </header>
    <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About project</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Users</a>
              
            </div>
          </nav>
          <div class="tab-content" style="margin: 10px;" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odit dolores veniam harum, vero, repudiandae qui iusto exercitationem quis ducimus necessitatibus dolor aspernatur dolore at repellat explicabo nisi? Est qui enim iusto iste facere eos rem architecto quos nam eum voluptatibus nobis ea itaque aspernatur ducimus culpa natus a delectus rerum minima ipsam, non harum consequatur nulla! Voluptatibus temporibus blanditiis in aperiam ut maxime aliquid culpa, porro, necessitatibus repudiandae eveniet corporis laborum! Delectus libero, facere animi, architecto odio mollitia iure accusamus dolorem voluptates, assumenda nam dolores! Temporibus laborum veniam esse aperiam veritatis quos rerum natus. Similique, perferendis. Nobis, quibusdam assumenda.</div>
            <div class="tab-pane fade users" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="user1">
                    <div class="fotoUser1"></div>
                    <p class="nameUser1">Olivia</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm moreUser1" data-toggle="modal" data-target="#exampleModal1">
        More info
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modalFotoUser1"></div><p class="modalNameUser1">Olivia Freeman</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <p><b>email :</b><i> olivia.freeman@example.com</i></p>
             <p><b>location :</b><i> 1748 Lovers Ln</i></p>       
             <p><b>phone :</b><i> (854)-467-1501</i></p>       

            </div>
            
          </div>
        </div>
      </div>

                </div>
                <div class="user2">
                        <div class="fotoUser2"></div>
                        <p class="nameUser2">Judith</p>
                        
                        <!-- Button trigger modal -->
<button type="button" class="btn btn-sm moreUser2" data-toggle="modal" data-target="#exampleModal2">
        More info
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modalFotoUser2"></div><p class="modalNameUser2">Judith Jacobs</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <p><b>email :</b><i> judith.jacobs@example.com</i></p>
                    <p><b>location :</b><i> 5097 E Sandy Lake Rd</i></p>       
                    <p><b>phone :</b><i> (214)-394-0799</i></p>   
            </div>
            
          </div>
        </div>
      </div>
                </div>
                <div class="user3">
                        <div class="fotoUser3"></div>
                        <p class="nameUser3">Nicholas</p>

                        <!-- Button trigger modal -->
<button type="button" class="btn btn-sm moreUser3" data-toggle="modal" data-target="#exampleModal3">
        More info
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <div class="modalFotoUser3"></div><p class="modalNameUser3">Nicholas Phillips</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <p><b>email :</b><i> nicholas.phillips@example.com</i></p>
                    <p><b>location :</b><i> 4968 Miller Ave</i></p>       
                    <p><b>phone :</b><i> (901)-583-3078</i></p>   
            </div>
            
          </div>
        </div>
      </div>
                </div>
                <div class="user4">
                        <div class="fotoUser4"></div>
                        <p class="nameUser4">Carlos</p>

                        <!-- Button trigger modal -->
<button type="button" class="btn btn-sm moreUser4" data-toggle="modal" data-target="#exampleModal4">
        More info
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <div class="modalFotoUser4"></div><p class="modalNameUser4">Carlos Cole</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <p><b>email :</b><i> carlos.cole@example.com</i></p>
                    <p><b>location :</b><i> 9157 Walnut Hill Ln</i></p>       
                    <p><b>phone :</b><i> (571)-123-3045</i></p>   
            </div>
            
          </div>
        </div>
      </div>
                </div>

            </div>
          </div>
</div>
