.search{
    margin: 10px;
    width: 98%;
}

.red{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: red;
}
.green{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: green;
}




.containerBalance{
    position: relative;
    border: 2px dashed #5e889e;
    height: 250px;
    .imgWallet{
        position: absolute;
        top: 17px;
        left: 70%;
    }
    
.sum{
    position: absolute;
    top: 2%;
    left: 10%;
    p{
text-align: center;
color: #5e889e;
font-weight: bolder;
font-size: 26px;
}
.balance{
    height: 80px;
    width: 190px;
    border: 2px solid #5e889e;
    border-radius: 10px;
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    color: #607D8B;
}

}
.boxIncome{
    position: absolute;
    top: 140px;
    left: 10%;
    p{font-size: 18px;
    color: green;
    margin-bottom: 4px;
    }
    .income{
    height: 40px;
    width: 70px;
    border: 1px solid #5e889e;
    border-radius: 10px;
    font-weight: bold;
    color: green;
    }
}
.boxExpense{
    position: absolute;
    top: 140px;
    left: 18%;
    p{font-size: 18px;
    color: rgb(243, 29, 29);
    margin-bottom: 4px;
    }
    .expense{
    height: 40px;
    width: 70px;
    border: 1px solid #5e889e;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    }
}
.addList{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    top: 140px;
    left: 45%;
    background-image: url(https://www.freepnglogos.com/uploads/plus-icon/file-nuvola-green-plus-svg-wikimedia-commons-32.png);
    background-size: cover;
}
.addList:hover{
    border: 2px solid green;
}

}