<div class="containerList">
        <div class="input-group search">
                <input type="text" class="form-control" [(ngModel)]="search" aria-label="Text input with dropdown button" placeholder="search...">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All list</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item"  href="#">All list</a>
                    <a class="dropdown-item"  href="#">Income</a>
                    <a class="dropdown-item"  href="#">Expense</a>
                </div>
              </div>
              <!-- [(ngModel)]="allList"
              [(ngModel)]="income"
              [(ngModel)]="expense" -->


              
</div>
<hr>
<div class="list">
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Sum</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of balance.list | filter: search  let i=index ">
                    <th scope="row">{{i+1}}</th>
                    <td>
                      <div *ngIf="checked" class="status red"></div>
                      <div *ngIf="!checked" class="status green"></div>

                    </td>
                    <td>{{item.date | date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.sum}}$</td>
                    <td><button (click)="balance.selectItem(item)" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">Edit</button></td>
                    <td><button (click)="balance.deleteItem(item.id)" class="btn btn-danger">Delete</button></td>
                  </tr>
                </tbody>
              </table>
</div>
</div>
