<div class="containerBalance">
  <div class="sum">
      <p>Balance</p>
      <div class="balance">{{this.s}}</div>
  </div>
  <div class="boxIncome">
      <p><b>Income</b></p>
      <div class="income"><span>+ : {{this.sumIncome}}</span></div>
  </div>
  <div class="boxExpense">
      <p><b>Expense</b></p>
      <div class="expense"><span>- : {{this.sumExpance}}</span></div>
  </div>
  <button type="button" class="btn addList" data-toggle="modal" data-target="#exampleModalCenter"></button>
  <app-modal-add-list></app-modal-add-list>
  <img src="https://www.iconninja.com/files/21/383/675/commerce-method-payment-dollar-ecommerce-wallet-money-icon.svg" alt="" class="imgWallet">
</div>





<div class="containerList">
        <div class="input-group search">
                <input type="text" class="form-control" [(ngModel)]="search" aria-label="Text input with dropdown button" placeholder="search...">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All list</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="balance.selectFilter('all')" href="#">All list</a>
                    <a class="dropdown-item" (click)="balance.selectFilter('income')" href="#">Income</a>
                    <a class="dropdown-item" (click)="balance.selectFilter('expense')" href="#">Expense</a>
                </div>
              </div>
            
</div>
<hr>
<div class="list">
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Sum</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of balance.list | filter: search  let i=index ">
                    <th scope="row">{{i+1}}</th>
                    <td>
                      <div *ngIf="item.type !== 'income'" class="status red"></div>

                      <div *ngIf="item.type === 'income'" class="status green"></div>

                    </td>
                    <td>{{item.date | date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.sum}}$</td>
                    <td><button (click)="balance.selectItem(item)" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Attention!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeWindow>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete the data?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="balance.deleteItem(item.id)" type="button" class="btn btn-danger" (click)="closeModal()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</td>
                  </tr>
                </tbody>
              </table>
</div>
</div>
